# .gitignore file
# yup, this shit works recursively

# ignore sublime-workspace files
*.sublime-workspace

#general files
test.*
*.exe
*.[oa]
*.out
*.pdf

# keep usaco `test` files as templates
!usaco/test.*
